$primary-color: #2b2b31;
$second-color: #28282d;
$primary-button-color: #df3b7f;
$hover-button-color: #dd548d;
$primary-text-color: #aaaaaa;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    width: 100vw;    
    background-color: $primary-color;
    color: $primary-text-color;
}

#root {
    width: 100%;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: inherit;
    transition: color 0.4s ease;
}

a:hover{
    color: $hover-button-color;
}



.btn {
    background-color: $primary-button-color;
    border: none;
    border-radius: 0.4rem;
    padding: 0.7rem 1rem;
    font-weight: 600;
    color: white;
    letter-spacing: 0.1rem;
    transition: background-color 0.4s ease;
    cursor: pointer;
}

.btn:hover {
    background-color: $hover-button-color;
}

#header {
    width: 100%;
    height: 5.5rem;
    background-color: $second-color;
    box-shadow: 3px 3px 3px 3px rgb(44, 44, 44);
    display: flex;
    justify-content: space-between;

    #logo {
        font-size: 2.5rem;
        font-weight: 800;
        letter-spacing: 0.2rem;
        color: rgb(233, 231, 231);
        margin: auto 4rem;
    }

    .dropdown {
        position: relative;
        height: 100%;
        top: 2.5rem;

    }

    .dropdown-content {
        display: none;
        position: absolute;
        top: 3rem;
        left: -2rem;
        z-index: 1;
        min-width: 10rem;
        border-top: solid 2px $primary-button-color;
        border-radius: 0.3rem;
        background-color: $second-color;
        padding: 0.5rem 1rem;

        p {
            margin-top: 0.5rem;
        }
    }

    #nav-items {
        ul {
            display: flex;
            list-style: none;

            li {
                font-size: 1.2rem;
                margin-right: 2rem;
                position: relative;

                a {
                    position: relative;
                    top: 2.5rem;
                }
            }
        }
    }

    @media screen and (max-width: 1024px) {
        #nav-items {
            display: none;
        }
    }

    #header-right {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 2rem;
        font-size: 1rem;

        * {
            margin-right: 2rem;
        }

        ion-icon {
            font-size: 1.4rem;
        }

        #mobile-btn {
            display: none;
            position: relative;
            cursor: pointer;
            transition: all .5s ease-in-out;

            .mobile-btn-line {
                width: 1.4rem;
                height: 0.17rem;
                background: $primary-text-color;
                border-radius: 0.3rem;
                transition: all .5s ease-in-out;
              }
              .mobile-btn-line::before,
              .mobile-btn-line::after {
                content: '';
                position: absolute;
                width: 1.4rem;
                height: 0.17rem;
                background: $primary-text-color;
                border-radius: 0.3rem;
                transition: all .5s ease-in-out;
              }
              .mobile-btn-line::before {
                transform: translateY(-0.5rem);
              }
              .mobile-btn-line::after {
                transform: translateY(0.5rem);
              }
        }



        @media screen and (max-width: 1024px) {
            #mobile-btn {
                display: flex;
            }
        }
    }
}

.header-btn {
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -22px;
    width: 24px;
    height: 40px;
    opacity: 0.8;
}