* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

td {
    vertical-align: middle;
}

.mt-1 {
    margin: 1rem auto;
}


.my-2 {
    margin: 2rem auto;
}

.mt-5 {
    margin-top: 5rem;
}

.box {
    width: 100%;
}

.w-100 {
    width: 100%;
}

.w-70 {
    width: 70%;
    margin: 0 auto;
}

.flex {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}