@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 16px;
  @apply text-gray-500;
}

#root {
  width: 100vw;
  height: 100vh;
}

input:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.svg-green {
  @apply fill-green;
}

.svg-red {
  @apply fill-red;
}

.svg-yellow {
  @apply fill-yellow;
}
